.web_modules-Navigation-index--root--1mxkg {
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  font-family: sans-serif;
}

.fira-sans-loaded .web_modules-Navigation-index--root--1mxkg {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
}

.web_modules-Navigation-index--items--TIrTp {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  height: 3rem;
  padding: 0 16px;
  padding: 0 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.web_modules-Navigation-index--item--1jxHi {
}

.web_modules-Navigation-index--item--1jxHi:not(:last-child) {
  margin-right: 24px;
  margin-right: 1.5rem;
}

.web_modules-Navigation-index--itemLink--QzCEt {
  color: #eee7df;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.425;
  text-decoration: none
}

.web_modules-Navigation-index--itemLink--QzCEt:hover {
  text-decoration: underline;
}

@media (min-width: 581px) {
  .web_modules-Navigation-index--root--1mxkg {
    right: auto;
    width: 50%;
  }

  .web_modules-Navigation-index--items--TIrTp {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
