.web_modules-Footer-index--root--R2dg_ {
  background: #f4f2ed;
  padding: 48px 16px;
  padding: 3rem 1rem;
}

.web_modules-Footer-index--inner--2nPg7 {
  text-align: center;
}

.web_modules-Footer-index--info--ygZ0f {
  color: rgba(72, 70, 62, 0.46);
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 2.15;
  margin-bottom: 4px;
  margin-bottom: 0.25rem;
}

.web_modules-Footer-index--issue--2aXJQ {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.web_modules-Footer-index--report--2OkWs {
  color: rgba(72, 70, 62, 0.46);
  display: inline-block;
  text-decoration: underline;
  margin-left: 4px;
  margin-left: 0.25rem
}

.web_modules-Footer-index--report--2OkWs:hover {
  text-decoration: none;
}

@media (min-width: 501px) {
  .web_modules-Footer-index--inner--2nPg7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    max-width: 50rem;
    text-align: left;
    text-align: initial;
  }
}
