.web_modules-ByTheCommunity-index--root--35Gmc {
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #faf8f5;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 340px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 16px;
  padding: 0 1rem;
  overflow: hidden;
}

.web_modules-ByTheCommunity-index--title--3s9dL {
  color: #dd3a0a;
  font-size: 26px;
  font-size: 1.625rem;
  font-weight: normal;
  line-height: 2;
  text-align: center;
}

.fira-sans-loaded .web_modules-ByTheCommunity-index--title--3s9dL {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
}

.web_modules-ByTheCommunity-index--body--1wLdU {
  color: #3f526b;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.875;
  margin: 32px auto 0;
  margin: 2rem auto 0;
  max-width: 544px;
  max-width: 34rem;
  text-align: center;
}

.web_modules-ByTheCommunity-index--submit--3TGLP {
  color: #3f526b;
  text-decoration: underline
}

.web_modules-ByTheCommunity-index--submit--3TGLP:hover {
  text-decoration: none;
}

.web_modules-ByTheCommunity-index--banner--2GE2l {
  text-shadow: 0 0 3px #fff;
  z-index: 1;
}

.web_modules-ByTheCommunity-index--contributors--1jYgb {
  position: absolute;
  top: 20px;
  left: calc(50% - 600px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 1200px;
  z-index: 0;
}

.web_modules-ByTheCommunity-index--avatar--5wNaN {
  display: block;
  margin: 6px;
  padding: 0;
  line-height: 60px;
  width: 48px;
  height: 48px;
  overflow: hidden;
  opacity: 0.1;
  border-radius: 100%;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s
}

.web_modules-ByTheCommunity-index--avatar--5wNaN:hover {
  -webkit-transition: opacity 0;
  transition: opacity 0;
  opacity: 1;
}
